
{% extends 'base.html' %}

{% block content %}

<div id="fh5co-main">
	<div class="fh5co-intro text-center" style="padding:20px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="intro-lead">{{ post_object.postTitle}}</h1>

				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-9 col-md-push-1">


						<h1>Travel Recs About</h1>

						<p> We at Travel Recs want to help you find the best places to visit and to spend your time there in the best way possible! Based on our travel experience we provide you with the best and most interesting places to visit.
						</p>
						<p>If you have any feedback on the content you find on our page or if you have any suggestions for locations that we should add to our page, please write an email to info@travel-recs.com.
						</p>
						<p>Thank you for using our website! Your mates from Travel-recs.com!
						</p>

							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock content %}