
{% extends 'base.html' %}

{% block content %}


<div id="fh5co-main">

	<!--
		--------------------------------------------
		Search Area: Search Text + Search Button
		---------------------------------------------
	-->
	<!-- div class="fh5co-intro text-center" style="padding:20px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="intro-lead">Search & Find your Activity!</h1>
				</div>
				<div class = "col-md-8 col-md-offset-2">
					<form action="search/" method="POST">
						{% csrf_token %}
						<input type="text" name="searchItem" placeholder="Search for activities, tags..." style="float: center; padding: 5px; border-style: solid;  margin-top: 20px;  margin-left:00px;  font-size: 17px;width:100%;">
						<p style="margin-top:10px">
							<button class="btn btn-primary" style="padding:10px;width:100%;">Start Search</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div-->

	<!--
		--------------------------------------------
		Show main activities
		---------------------------------------------
	-->
	<div class="col-md-10 col-md-offset-1">
		<div id="fh5co-portfolio">
			<!--h2 style="padding-bottom:20px">Activities:</h2 -->

			<!-- Control buttons -->
			<div id="myBtnContainer">

				{% for category in selected_category_1_elements %}
					<button class="btn active" onclick="filterSelection('{{ category }}')">{{ category }}</button>
				{% endfor %}

				{% for category in unselected_category_1_elements %}
					<button class="btn" onclick="filterSelection('{{ category }}')">{{ category }}</button>
				{% endfor %}

				<form>
					<p style="margin-top:10px">
						<button onclick="callIndexUrlWithFilter()" class="btn btn-primary" style="padding:10px;width:100%;">
							Apply Filter
						</button>
					</p>
				</form>
			</div>

			<!-- List all activities provided by object list -->
			{% for activity in object_list %}

					<div class="col-sm-3">
						<div class="card">

							<div class="card-image">
								<img class="img-responsive" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg">
								<span class="card-title">Material Cards</span>
							</div>
							<div class="card-content">
								<h3>{{activity.title}}</h3>
								<p>{{activity.description}}</p>
								<a href="#" target="new_blank">Link</a>
							</div>
						</div>
					</div>

			{% endfor %}

		</div>
	</div>
</div>

{% endblock content %}