<!DOCTYPE html>
<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #2e6c80;"> Nutzungsbedingungen und Datenschutzerklärung</h1>
S'arvo bietet Ihnen die Möglichkeit mehr aus Ihrer Freizeit zu machen. Damit wir unsere Dienste bereitstellen können müssen wir Daten erfassen und verarbeiten. Wir sind dabei stets interessiert Ihre Daten zu schützen und Sie bestmöglich zu informieren. Hierzu haben wir unsere Datenschutzerklärung verfasst. Diese finden Sie  nachfolgend auf dieser Seite. Zudem  stimmen Sie mit der Nutzung unserer App  den Nutzungsbedingungen zu. Diese finden Sie ebenso auf dieser Seite

<h1 style="color: #2e6c80;">Datenschutzerklärung vom 12.04.2020</h1>

<h2 style="color: #2e6c80;">Allgemeiner Hinweis und Pflichtinformationen</h2>

<p>S‘arvo freut sich über Ihr Interesse an unseren Diensten. Wir möchten, dass Sie ein sicheres Gefühl bei der Nutzung unserer App haben und der Schutz Ihrer persönlichen Daten ist uns besonders wichtig. Deswegen erläutert diese Datenschutzerklärung, wie personenbezogene Daten während und nach Ihrer Nutzung der S’arvo Applikation erfasst, verarbeitet und verwendet werden, welche Arten von Daten dies betrifft, warum solche Daten erfasst werden, mit wem sie geteilt werden und welche Rechte Sie diesbezüglich haben. Bitte lesen Sie diesen Hinweis aufmerksam durch. </p>

<p>Diese Datenschutzerklärung gilt für die S’arvo App, sowie alle Seiten von <a href="www.sarvo.io">www.sarvo.io</a> und <a href="www.sarvo-api.xyz">www.sarvo-api.xyz</a>. Sie erstreckt sich nicht auf etwaig verlinkte Webseiten bzw. Internetpräsenzen von anderen Anbietern.</p>
<p>
Wir behalten uns vor, diese Datenschutzerklärung mit Wirkung für die Zukunft anzupassen, insbesondere im Fall der Weiterentwicklung der App oder Webseiten, bei der Nutzung neuer Technologien oder der Änderung der gesetzlichen Grundlagen bzw. der entsprechenden Rechtsprechung.
</p>

<h3 style="color: #2e6c80;">Allgemeine Begriffe</h3>
<ul>
<li>Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. </li>
<li> "Die Applikation" meint nachfolgend, die S’arvo App, wie sie im iOS App Store und im Google Play Store zu finden ist, sowie alle Seiten des Verantwortlichen auf die Domänen <a href="www.sarvo.io">www.sarvo.io</a> und <a href="www.sarvo-api.xyz">www.sarvo-api.xyz</a> </li>
</ul>


<h2 style="color: #2e6c80;">Benennung der verantwortlichen Stelle</h2>
Die verantwortliche Stelle für die Datenverarbeitung in dieser Applikation ist:
<p>Artur Mrowca, 83714 Miesbach, Email: arturmrowa@googlemail.com</p>

<p>Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).</p>

<h2 style="color: #2e6c80;">Ihre Rechte bezüglich Ihrer Daten</h2>

<h3 style="color: #2e6c80;">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
<p> Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung möglich. Sie haben aber das Recht auf Widerruf Ihrer Einwilligung(Art. 7 Abs. 3 DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist somit jederzeit möglich.
Ein Widerruf der Erklärung der Datenverarbeitung ist jederzeit direkt über die Applikation möglich. Hierfür besteht im Einstellungsbereich der Applikation, die Option sein Benutzerkonto zu schließen. Bei Schließung des Benutzerkontos, werden jegliche Daten, die über den Nutzer erfasst wurden dauerhaft gelöscht und die Einwilligung in die Datenschutzerklärung wird wiederrufen. Alternativ genügt für einen Widerruf eine formlose Mitteilung per E-Mail an arturmrowca@googlemail.com
Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt. </p>

<h3 style="color: #2e6c80;">Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde</h3>
<p>Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu (Art. 77 DSGVO). Dankbar wären wir allerdings, wenn Sie uns bei einer Beschwerde erstmal kontaktieren würden!  Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem sich der Sitz unseres Unternehmens befindet. Der folgende Link stellt eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten bereit:
<a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>
 </p>


<h3 style="color: #2e6c80;">Recht auf Datenübertragbarkeit</h3>
<p>Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen (Art. 20 DSGVO). Die Bereitstellung erfolgt in einem maschinenlesbaren Format. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist. Diesbezüglich und auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit über die eingangs aufgeführten Kontaktdaten an uns wenden. Hierfür genügt auch eine formlose Mail an arturmrowca@googlemail.com
</p>

<h3 style="color: #2e6c80;">Recht auf Auskunft, Berichtigung, Einschränkung, Sperrung, Löschung</h3>
<p>
Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche Auskunft (Art. 15 DSGVO) über Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten, deren Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung (Art. 16 DSGVO), Sperrung oder Löschung (Art. 17 DSGVO) dieser Daten, sowie auf Einschränkung der Verarbeitung (Art. 18 DSGVO). Diesbezüglich und auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit über die eingangs aufgeführten Kontaktdaten an uns wenden. Hierfür genügt auch eine formlose Mail an arturmrowca@googlemail.com</p>


<h2 style="color: #2e6c80;">Folgende Daten werden von uns erfasst</h2>
<p>Grundsätzlich werden nur personenbezogene Daten erhoben die zur Bereitstellung der Dienste, die die Applikation anbietet, notwendig sind. Deren Speicherung erfolgt ebenso nur im minimal erforderlichen Rahmen. S’arvo muss einige Informationen erhalten oder erfassen, um unsere Dienste zu betreiben, anzubieten, zu verbessern, zu verstehen, zu individualisieren, zu unterstützen und zu vermarkten. Dies geschieht u. a. wenn Sie unsere Dienste installieren, nutzen oder auf sie zugreifen. Die Arten von Informationen, die wir erhalten und erfassen, hängen davon ab, wie Sie unsere Dienste nutzen.</p>

<h3 style="color: #2e6c80;">Daten zur Applikationsnutzung</h3>
Konkret werden folgende personenbezogenen Daten im Laufe der Applikationsnutzung erfasst und wie folgt verarbeitet.
<p><b>Ihre Mobilfunknummer ("Handynummer"): </b> Ihre Handynummer wird aus zwei Gründen verarbeitet. Zum einen wird diese bei der Registrierung verwendet um Ihre Identität zu verifizieren. Hierfür wird Ihnen ein Verifikationscode gesendet. Damit dies möglich ist senden wir Ihre Handynummer an den Drittanbieter Twilio, damit dieser Ihnen den Verifikationscode senden kann. Weitere Informationen zur Datenverarbeitung mit Twilio finden Sie im Abschnitt "Drittanbieter und Tools".
Zum anderen wird diese verwendet, um Ihre Kontakte zu Gruppen, Chats oder Veranstaltungen einladen und zuordnen zu können. Hierbei ist ein Abgleich der pseudonymisierten Handynummern nötig. Die Handynummer wird dabei nie in roher Form auf unseren Servern gespeichert. Stattdessen wird diese bei Ihrer Registrierung initial an unseren Server gesendet, um einmalig eine SMS (über den Drittanbieter Twilio) zur Bestätigung zu versenden. Anschließend wird Ihre lesbare Handynummer auf unseren Servern gelöscht. Zum Abgleich wird jedoch eine pseudonymisierte Form Ihrer Handynummer auf unserem Server gespeichert. Diese ist jedoch nicht lesbar und wird ausschließlich zum zuvor genannten Abgleich von Kontakten genutzt. Dieser Abgleich geschieht immer auf Seiten des Servers und nur mit Daten von Nutzern, die der Nutzung Ihrer Daten zu diesem Zwecke zugestimmt haben. Somit hat kein anderer Nutzer je Zugriff auf diese pseudonymisierte Handynummer.</p>

<p><b>Benutzername und Profilbild:</b> Optional können Sie in der Applikation einen Benutzernamen und ein Profilbild festlegen, der für andere Nutzer sichtbar ist. Dies erlaubt es Ihnen ein individuelles Pseudonym und Bild innerhalb der Applikation zu nutzen. Der Benutzername und das Profilbild wird auf unserem Server gespeichert. Dies ist nötig, um den  Benutzernamen und Profilbild für Sie gegenüber anderen S’arvo Nutzern sichtbar zu machen.
</p>
<p><b>Adressbuch: </b> Um Kontakte zu Veranstaltungen und Gruppen hinzufügen zu können wird ein Abgleich der pseudonymisierten Handynummern aller registrierten Nutzer durchgeführt. Die Namen der registrierten Kontakte werden basierend auf Ihrem Kontaktbuch des Mobiltelefons zugeordnet. Dies geschieht rein auf Seiten Ihres Mobiltelefons.
Zusätzlich werden auch nicht registrierte Kontakte Ihres Kontaktbuches bei Ihnen angezeigt. Diese Daten werden nur auf Seiten Ihres Handys angezeigt und verarbeitet. Diese Daten werden nicht von uns verwendet. Diese Anzeige vereinfacht es Ihnen Personen die Nutzung von S’arvo zu empfehlen. </p>
<p><b>Veranstaltungen, Chatnachrichten und Gruppen:</b> Sie haben die Möglichkeit Veranstaltungen und Gruppen  auf S’arvo zu erstellen oder diesen beizutreten. Mit Ihrer Einwilligung dieser Erklärung erlauben Sie es anderen Nutzern Sie zu  Veranstaltungen und Gruppen hinzuzufügen und darin zu adressieren. Zudem werden alle Informationen, die Sie dort freiwillig teilen auf unseren Servern mit einer Zuordnung zu Ihrer pseudonymisierten Nutzerkennung gespeichert. Diese bleiben für die Dauer der Existenz der Veranstaltung auf unseren Servern gespeichert. </p>
<p><b>Kalendernutzung:</b> S’arvo bietet Ihnen die Möglichkeit Veranstaltungen mit Ihrem Kalender zu synchronisieren. Diese Funktion ist initial deaktiviert. Sollten Sie diese Synchronisation aktivieren, werden Veranstaltungen innerhalb der S’arvo Applikation mit Ihrem  Kalender synchronisiert. Dies geschieht ausschließlich auf Seiten Ihres Mobiltelefons. Dieses verwendet, die lokal von Ihnen verwendeten Kalender ausschließlich zu diesem Zwecke. Ebenso erfolgt ein Zugriff ausschließlich auf Veranstaltungen die über die S’arvo Applikation erstellt wurden.</p>
<p>Die Verarbeitung dieser genannten Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt das Löschen Ihres Accounts oder eine formlose Mitteilung per E-Mail an arturmrowca@googlemail.com. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
Wir speichern diese erfassten Daten während des Zeitraums, den Sie auf unserer Applikation registriert sind. Ihren Daten werden gelöscht, sollten Sie Ihre Registrierung aufheben. Gesetzliche Aufbewahrungsfristen bleiben unberührt.</p>

<h3 style="color: #2e6c80;">Daten die Sie mit anderen Nutzern teilen</h3>
Wenn Sie unsere Dienste nutzen teilen Sie einige Ihrer Informationen mit anderen Nutzern. Insbesondre beinhaltet dies folgende Daten.
<p><b>Zuordnung zu Kontaktbuch:</b> Andere registrierte Nutzer haben die Möglichkeit Sie in Ihren Kontaktbuch als S’arvo Nutzer angezeigt zu bekommen, wenn Sie Ihre Handynummer besitzen. </p>
<p><b>Nutzerprofil:</b> Ebenso werden Sie Nutzern, die in derselben Veranstaltung zu finden sind mit Ihrem gewählten Benutzernamen und Profilbild angezeigt. </p>
<p><b>Informationen innerhalb von Veranstaltungen:</b> Teilnehmer einer Veranstaltung an der Sie teilnehmen sehen zudem jegliche Aktivität die Sie in dieser Veranstaltung getätigt haben. Dies beinhaltet insbesondere Chatnachrichten, Beschreibungen, Bilder oder Datumsinformationen. </p>

<h3 style="color: #2e6c80;">Server-Log-Dateien und Gerätedaten</h3>
In Server-Log-Dateien erhebt und speichert die Applikation, sowie der Service Provider  Informationen, die zur Bereitstellung und Fehlerbehebung der Programmausführung zur Dienstbereitstellung nötig sind. Dies sind:
<ul>
<li>Besuchte Seite in der Applikation</li>
<li>Datum und Uhrzeit der Serveranfrage</li>
<li>Verwendetes Betriebssystem</li>
<li>Referrer URL</li>
<li>Hostname des zugreifenden Rechners</li>
<li>IP-Adresse</li>
<li>Diagnose- und Performanc-, Absturz-, Webseiten- und Performance-Logs und Berichte.</li>
<li>Informationen wann Sie sich registriert haben, sowie Informationen über im Zusammenhang mit den von Ihnen genutzten Funktionen wie unsere Veranstaltungen, Profilverwaltung, Nachrichten-  oder Gruppen-Funktionen</li>
<li>Geräte- und Verbindungsdaten: Um unsere Dienste nutzen zu können werden Informationen zu Ihrem Hardware-Modell und Betriebssystem, App-Version, Sprache, Zeitzone und Gerätekennungen aufgezeichnet</li>
</ul>
Es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt. Grundlage der Datenverarbeitung bildet Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.


<h3 style="color: #2e6c80;">Cookies</h3>
<p>Unsere Applikation verwendet Cookies (oder gleichartige Speicherelemente). Das sind kleine Textdateien, die die Applikation auf Ihrem Endgerät speichert. Cookies helfen uns dabei, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.</p>
<p>Einige Cookies sind “Session-Cookies.” Solche Cookies werden nach Ende Ihrer Sitzung von selbst gelöscht. Hingegen bleiben andere Cookies auf Ihrem Endgerät bestehen, bis Sie diese selbst löschen.</p>
<p>Mit Ihrem Gerät können Sie das Setzen von Cookies überwachen, einschränken oder unterbinden. Die Deaktivierung von Cookies kann eine eingeschränkte Funktionalität unserer Applikation zur Folge haben.</p>
<p>Das Setzen von Cookies, die zur Ausübung elektronischer Kommunikationsvorgänge oder der Bereitstellung bestimmter, von Ihnen erwünschter Funktionen notwendig sind, erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Als Betreiber dieser Applikation haben wir ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und reibungslosen Bereitstellung unserer Dienste. Sofern die Setzung anderer Cookies (z.B. für Analyse-Funktionen) erfolgt, werden diese in dieser Datenschutzerklärung separat behandelt.</p>


<h2 style="color: #2e6c80;">Wie und wofür nutzen wir Ihre Daten</h2>
S‘arvo verarbeitet Ihre personenbezogenen Daten zu folgenden Zwecken:
<ul>
<li>für die Bereitstellung der Dienste, die Sie über S'arvo nutzen können, </li>
<li>für die technische Verwaltung und Weiterentwicklung der Applikation, </li>
<li>für Kunden- und Nutzerverwaltung und Marketing, </li>
<li>zur Durchführung von Recherchen und Analysen im Hinblick auf unsere geschäftlichen Beziehungen, </li>
<li>zur Betrugsprävention und -aufdeckung, </li>
<li>zur Einhaltung rechtlicher Pflichten (z. B. steuerrechtlicher, buchhalterischer und administrativer Natur).</li>
</ul>
Wir werden Sie entsprechend informieren, sollten wir zur Verarbeitung Ihrer personenbezogenen Daten Ihre Einwilligung benötigen. Ansonsten verarbeiten wir Ihre personenbezogenen Daten, um unsere berechtigten Geschäftsinteressen zu erfüllen oder wenn es zur Einhaltung von gesetzlichen Verpflichtungen erforderlich ist.
Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
Wir bewahren Ihre personenbezogenen Daten nicht länger als notwendig und nur zu den Zwecken auf, zu denen sie erhoben wurden.
S‘arvo hat angemessene technische und organisatorische Sicherheitsmaßnahmen umgesetzt, um die von ihr über die Applikation erhobenen personenbezogenen Daten vor unbefugtem Zugriff, Missbrauch, Verlust oder Zerstörung zu schützen. Beispielsweise wird aus  Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung genutzt. Damit sind Daten, die Sie über unsere Applikation übermitteln, für Dritte nicht mitlesbar.


<h2 style="color: #2e6c80;">Speicherdauer von Beiträgen</h2>
Beiträge, wie Veranstaltungsinformationen, Chatnachrichten und andere von Ihnen geteilte Medien sowie damit in Verbindung stehende Daten, wie beispielsweise IP-Adressen, werden gespeichert. Der Inhalt verbleibt auf unseren Servern, bis er vollständig gelöscht wurde oder aus rechtlichen Gründen gelöscht werden musste.
Die Speicherung dieser Daten erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit bereits erfolgter Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.


<h2 style="color: #2e6c80;">Drittanbieter Tools</h2>
<p>Bei der Nutzung unserer Applikation verwenden wir Tools von Drittanbietern, um unsere Dienste bereitstellen zu können. Diese Unternehmen können uns unter bestimmten Umständen Informationen über Sie zur Verfügung stellen; beispielsweise können App Stores uns Berichte bzw. Meldungen bereitstellen, mit deren Hilfe wir Probleme bezüglich der Dienste diagnostizieren und beheben können.</p>
<p>Zum aktuellen Zeitpunkt verwenden wir folgende Tools folgender Drittanbieter.</p>

<h3 style="color: #2e6c80;">Twilio</h3>
<p>Sofern nicht anders angegeben ist der Betreiber aller hier genannten Twilio-Dienste Twilio Atlanta, 950 East Paces Ferry Road NE, 18th Floor, Atlanta, GA 30326, USA („Twilio“).</p>
<p>Bei der Registrierung in unserer Applikation ist es nötig, dass wir eine SMS mit einem Verifikationscode an Sie versenden. Für diesen Dienst ist es nötig eine SMS an Ihre Handynummer zu versenden. Um dies automatisiert zu ermöglichen nutzen wir die Dienste von Twilio. Zu diesem Zweck senden wir einmalig zur Registrierung den Inhalt der zu erhaltenden SMS, sowie Ihre Handynummer an Twilio, damit diese Ihnen die SMS zukommen lassen können. </p>
<p>Die Datenschutzerklärung des Anbieters, sowie deren Vereinbarung mit Ihren Kunden über den Umgang der Daten im europäischen Raum finden Sie unter
<a href="https://www.twilio.com/legal/gdpr">https://www.twilio.com/legal/gdpr</a> und
<a href="https://www.twilio.com/legal/privacy">https://www.twilio.com/legal/privacy</a> </p>

<h3 style="color: #2e6c80;">Amazon Web Services</h3>
<p>Sofern nicht anders angegeben ist der Betreiber aller hier genannten Amazon – Dienste (inklusive Amazon Webservices, Amazon Lightsail) Amazon Web Services, Inc., 410 Terry Avenue North, Seattle WA 98109, USA („Amazon Web Services“).</p>
<p>Um unsere Applikation im Internet bereitzustellen nutzen wir die Dienste der Amazon Web Services. Alle Daten werden von uns dort verarbeitet und gespeichert. Dies erfolgt   unter Berücksichtigung der Beschränkungen in Bezug auf Vertraulichkeit und Sicherheit und entsprechend den geltenden Gesetzen und Bestimmungen zum Datenschutz. </p>
<p>Die Datenschutzerklärung des Anbieters, sowie deren Vereinbarung mit Ihren Kunden über den Umgang der Daten im europäischen Raum finden Sie unter
<a href="https://aws.amazon.com/de/compliance/gdpr-center/">https://aws.amazon.com/de/compliance/gdpr-center/</a>
</p>

<h2 style="color: #2e6c80;">Aktualisierungen unserer Richtlinien</h2>
<p>Sollten wir Änderungen an unserer Datenschutzrichtlinie vornehmen werden Sie von uns benachrichtigt. Sie bekommen die Möglichkeit unsere überarbeitete Datenschutzerklärung zu überprüfen und können sich dann entscheiden ob Sie unsere Dienste weiterhin nutzen möchten. </p>
<p>
Sie finden unsere aktuellen Datenschutzerklärung und unsere Nutzungsbedingungen unter <a href="https://api.sarvo-api.xyz/privacy">https://api.sarvo-api.xyz/privacy</a>
</p>



<h1 style="color: #2e6c80;">Nutzungsbedingungen vom 12.04.2020</h1>
Zur Bereitstellung unserer Dienste benötigen wir Ihre ausdrückliche Zustimmung unserer Nutzungsbedingungen. Sie stimmen diesen zu indem Sie sich registrieren oder unsere Funktionen nutzen.

<h2 style="color: #2e6c80;">Dienste die wir bereitstellen</h2>
<p>S’arvo stellt Ihnen verschiedene Dienste bereit. Dabei versuchen wir stets Datenschutz- und Sicherheitsgrundsätzen zu genügen und sind bestrebt unsere Dienste unter Beachtung strenger Datenschutz- und Sicherheitsgrundsätze bereitzustellen.
Wir ermöglichen dir mehr aus deiner Freizeit zu machen und einfacher Veranstaltungen zu organisieren, um mehr Zeit mit deinen Freunden zu verbringen. Dabei können Sie mit anderen S‘arvo Nutzern kommunizieren, z. B. durch Nachrichten, Senden von Bildern und Videos. Dabei werden diese Informationen verwendet um unsere Dienste zu betreiben, bereitzustellen und zu verbessern.</p>
<p>Zudem sind wir darauf bedacht die Sicherheit von S‘arvo zu schützen. Wir verbieten ausdrücklich unsere Dienste zu missbrauchen, schädliches Verhalten gegenüber anderen zu praktizieren und  gegen unsere Bedingungen und Richtlinien zu verstoßen. Bei schadhaften Aktivitäten (z.B. gegenüber Personen) werden wir geeignete Maßnahmen ergreifen, z.B. entfernen von Personen oder dem Kontaktieren von Behörden. </p>

<p><b>Registrierung: </b>Zur Registrierung übermittlen Sie uns Ihre aktuelle Mobiltelefonnummer. Für die Registrierung stimmen Sie zu, SMS und Codes zur Registrierung für unsere Dienste zu erhalten.</p>

<p> <b>Alter: </b>Du bestätigst, dass es dir erlaubt ist unsere Dienste zu nutzen und du das Mindestalter von 16 Jahren übersteigst. Falls du nicht alt genug bis um den Bedingungen zu zustimmen muss ein Erziehungsberechtigter in deinem Namen diesen zustimmen.  </p>

<p><b>Nutzung: </b> Um unsere Dienste zu Nutzen gestatten Sie uns, dass S’arvo Ihnen Aktualisierungen sendet. Zudem erlauben Sie uns Ihnen gelegentlich Mitteilungen über S’arvo  zu senden, um Ihnen unsere Dienste bereitstellen zu können.
Für sämtliche Gebühren, die bei der Nutzung Ihres Mobilfunkanbieters oder Netzbetreibers entstehen sind Sie selbst verantwortlich. </p>

<p>S‘arvo legt wert auf Ihre Privatsphäre. Unsere Datenschutzerklärung beschreibt, unsere Handhabung Ihrer Daten, sowie Ihre Rechte im Bezug auf personenbezogene Daten.</p>


<h2 style="color: #2e6c80;">Zulässige Nutzung unserere Dienste</h2>
<p>Sie erklären sich dazu bereit unsere Dienste gemäß unserer Bedingungen zu nutzen. Bei Verstoß gegen diese Bedingungen können wir Ihr Benutzerkonto deaktivieren und Ihnen verbieten einen anderen Account zu erstellen.</p>
<p><b>Zulässige Nutzung: </b> Unsere Dienste dürfen von Ihnen (und anderen Nutzern)  ausschließlich auf rechtmäßige Weise und für zulässige Zwecke verwendet werden. Es ist Ihnen nicht erlaubt unsere Dienste widerrechtlich zu verwenden, sowie die Rechte von S’arvo oder anderen S’arvo Nutzern zu verletzen. Dies beinhaltet insbesondere Datenschutz- und Veröffentlichungsrechte, sowie Eigentumsrechte. Zudem ist es Ihnen untersagt rechtswidrige, beleidigende, hasserfüllte, rassistische oder ethnisch anstößige Verhaltensweisen auf unseren Plattformen zu praktizieren oder jemanden auf diesen zu illegalen Verhaltensweisen anzustiften. Ebenso beinhaltet die unrechtmäßige Nutzung die Veröffentlichung von Unwahrheiten und das Versenden illegaler Mitteilungen. </p>
<p><b>Kontosicherheit:</b> Nur Sie als S’arvo Nutzer sind für Ihren S’arvo Account verantwortlich. Sie verpflichten sich uns von jeder unberechtigten Nutzung Ihres Accounts zu informieren. </p>

<h2 style="color: #2e6c80;">Lizenzen</h2>
<p>S’arvo besitzt nicht das Eigentum an Informationen die Sie für Ihren S’arvo Account übersenden. Für die Informationen die Sie über unsere Dienste versenden müssen Sie ausdrücklich die benötigten Rechte besitzen. Zudem müssen Sie über die Lizenzen zur Teilung dieser Informationen und Rechte zur Gewährung dieser Rechte der Informationen verfügen.  </p>
<p>Sie gewähren S’arvo eine gebührenfreie, unterlizenzierbare und übertragbare Lizenz zur Nutzung, Reproduktion und Verbreitung der Informationen, die Sie über unsere Dienste hochladen oder übermitteln. Dabei beschränken sich diese Lizenzen auf den Zweck unsere Dienste bereitzustellen. </p>

<h2 style="color: #2e6c80;">Haftungsschlüsse</h2>
<p>Wir versuchen unser Bestes, um eine unterbrechungsfreie Bereitstellung unserer Dienste zu ermöglichen. S’arvo wird von dir auf eigenes Risiko genutzt und vorbehaltlich folgender Haftungsausschlüsse. Unsere Dienste werden ohne ausdrücklichen Gewährleistungen bereitgestellt. Das betrifft u.a. der Eignung für einen bestimmten Zweck oder die Vermeidung von schädlichem Code. Wir garantieren nicht, dass unsere Dienste fehlerfrei, sicher und ohne Unterbrechungen sind. Ebenso, sind wir nicht für die Handlungen und Informationen verantwortlich die unsere Nutzer oder sonstige Dritte verantworten. Wir sind ebenso nicht dafür verpflichtet diese zu kontrollieren. Sie stellen uns frei von allen Bekannten und unbekannten Ansprüchen, Beschwerden, Klagegründen, Rechtsprozessen und Schäden die mit derartigen Anspruch ihrerseits gegenüber einem Dritten stehen, sich aus einem solchen ergeben bzw. mit diesem verbunden sind. </p>
<p>UNSERE GESAMTHAFTUNG, DIE IN BEZUG ZU UNSEREN BEDINGUNGEN, UNS ODER UNSEREN DIENSTEN STEHT, SICH DADURCH ODER AUF IRGENDEINE ART IN VERBINDUNG DAMIT ERGIBT, IST AUF SCHÄDEN BZW. VERLUSTE BESCHRÄNKT, DIE EINE ANGEMESSENERWEISE VORHERSEHBARE FOLGE EINES SOLCHEN VERSTOSSES SIND (AUSSER IN BEZUG AUF TOD, PERSONENSCHADEN ODER BETRÜGERISCHE FALSCHDARSTELLUNG) UND ÜBERSTEIGT NICHT DEN BETRAG, DEN SIE UNS IN DEN VERGANGENEN ZWÖLF MONATEN BEZAHLT HABEN.</p>

<h2 style="color: #2e6c80;">Freistellung</h2>
<p>Sollte jemand einen Anspruch in Bezug auf Ihre Handlungen, Ihren Informationen oder Ihren Inhalten auf S’arvo gegen uns erheben, verpflichten Sie sich uns im rechtlich zulässigem Umfang zu Folgendem. Sie halten uns im zulässigen Umfang von sämtlichen Haftungen, Schäden, Verlusten, sowie Anwendungen jeglicher Art (inklusive Kosten der Rechtsstreitigkeit, wie bspw. Anwaltshonorare) frei, sollten diese in Bezug zu folgenden Punkten stehen: (i) Zugriff und Nutzung unserer Dienste sowie von Informationen in dessen Zusammenhang; (ii) Verstoß gegen geltendes Recht (iii) Verstoß gegen unsere Bedingungen und jede durch Sie getätigte Falschdarstellung. Sie verpflichten sich an der Verteidigung gegen jeden Anspruch eines Dritten im Umfang der von uns gefordert wird mitzuwirken. Ihre Rechte gegenüber S’arvo bleiben von dieser Freistellung unberührt, wenn die Gesetze in Ihrem  Land es nicht gestatten.</p>


<h2 style="color: #2e6c80;">Verfügbarkeit und Kündigung der Dienste</h2>
<p><b>Verfügbarkeit unserer Dienste:</b> Wir behalten uns vor unsere Dienste zu unterbrechen und Funktionen hinzuzufügen oder zu entfernen. Unterbrechungen betreffen insbesondere jene zum Zwecke von Wartungen, Reparaturen und Verbesserungen. Zudem können wir jede jeglichen Support von Funktionen und Plattformen einstellen. </p>
<p><b>Kündigung:</b> Als S’arvo Nutzer haben Sie jederzeit die Möglichkeit Ihre Beziehung zu S’arvo durch Löschung Ihres Accounts zu beenden. Dies erlaubt Ihnen die Einstellungsseite
der S’arvo App oder eine formlose Mail an den S’arvo Support. Zudem behalten wir es uns vor unsere Dienste jederzeit wegen verdächtigen oder rechtswidrigen Verhalten auszusetzen oder
zu beenden. </p>


